.wrapper {
  max-width: 768px;
  height: 100%;
  margin: auto;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // align-items: center;
  // padding-bottom: 8rem;
}